{{!-- {{#if recipe}} --}}
<ul class="collapsible results">
    <li>
        <div class="collapsible-header blue-grey lighten-1 row valign-wrapper" data-id="532245">
            <div class="col s12 m2"><img class="food-img" src="https://spoonacular.com/recipeImages/532245-556x370.jpg"
                    alt=""></div>
            <div class="col s12 m9">
                <h4 class="title">Pasta Bake</h4>
                <div class="details">
                    {{#if cuisine}}
                    <h6><i class="fas fa-utensils"></i><span class="cuisine">Side Dish</span></h6>
                    {{/if}}
                    {{!-- {{#if vegetarian}} --}}
                    <h6 class="vegetarian"><i class="fas fa-carrot"></i>Vegetarian</h6>
                    {{!-- {{/if}} --}}
                    {{!-- {{#if time}} --}}
                    <h6 class="time"><i class="fas fa-clock"></i></i>60 minutes</h6>
                    {{!-- {{/if}} --}}
                </div>
            </div>
            <div class="col s12 m1 save-box">
                {{!-- {{#if inDb}} --}}
                <i class="fas fa-heart saved"></i>
                <p>Saved to My Recipes</p>
                {{!-- {{/if}} --}}
                {{!-- {{#unless inDb}}
                <i class="far fa-heart unsaved"></i>
                Click to save to My Recipes
                {{/#unless}} --}}
            </div>
        </div>
        <div class="collapsible-body grey blue-grey lighten-5">
            <span class="summary">If you are going to use include meat in this dish, brown it in a skillet.While the meat is browning,
                place uncooked pasta noodles in a 13x9 baking dish.In a large bowl combine the spaghetti sauce, water,
                and cooked meat.Pour spaghetti sauce mixture over noodles, mix enough to ensure the noodles are
                coated.Cover with foil and bake at 425 for 30 minutes or until the noodles are al dente. Spread cheese
                over the top and bake for 5 - 10 minutes more uncovered or until the cheese is completely melted.Let
                rest for several minutes before serving.</span></div>
    </li>
    <li>
        <div class="collapsible-header blue-grey lighten-1 row valign-wrapper" data-id="532245">
            <div class="col s12 m2"><img class="food-img" src="https://spoonacular.com/recipeImages/303837-556x370.jpeg"
                    alt=""></div>
            <div class="col s12 m9">
                <h4>Pasta Fagioli</h4>
                <div class="details">
                    {{!-- {{#if cuisine}} --}}
                    <h6><i class="fas fa-utensils"></i><span class="cuisine">Mediterranean</span></h6>
                    {{!-- {{/if}} --}}
                    {{#if vegetarian}}
                    <h6><i class="fas fa-carrot"></i>Vegetarian</h6>
                    {{/if}}
                    {{!-- {{#if time}} --}}
                    <h6><i class="fas fa-clock"></i></i>60 minutes</h6>
                    {{!-- {{/if}} --}}
                </div>
            </div>
            <div class="col s12 m1">
                {{#if inDb}}
                <i class="fas fa-heart saved"></i>
                {{/if}}
                <i class="far fa-heart unsaved"></i>
                <p>Click to save</p>
            </div>
        </div>
        <div class="collapsible-body grey blue-grey lighten-5">
            <span>In a heavy-bottomed soup pot, heat the olive oil over medium heat until hot, but not smoking. Add the
                onions, carrots and celery, searing the vegetables until the carrots have browned, 2 to 3 minutes.
                Reduce the heat to medium-low, then add the stock, beans, red pepper, garlic, and salt and pepper to
                taste. Simmer until the vegetables and beans soften, about 20 minutes. Then add the pork, tomatoes and
                parsley and allow the soup to cook until the tomatoes have softened, an additional 10 minutes. Finally,
                reduce the heat to low and add the pasta, cheese, oregano and basil to the soup to finish for 20 to 30
                minutes.</span></div>
    </li>
    <li>
        <div class="collapsible-header blue-grey lighten-1 row valign-wrapper" data-id="532245">
            <div class="col s12 m2"><img class="food-img" src="https://spoonacular.com/recipeImages/1028851-556x370.jpg"
                    alt=""></div>
            <div class="col s12 m9">
                <h4>Pasta Pomodoro</h4>
                <div class="details">
                    {{!-- {{#if cuisine}} --}}
                    <h6><i class="fas fa-utensils"></i>Mediterranean, Italian, European</h6>
                    {{!-- {{/if}} --}}
                    {{!-- {{#if vegetarian}} --}}
                    <h6><i class="fas fa-carrot"></i>Vegetarian</h6>
                    {{!-- {{/if}} --}}
                    {{!-- {{#if time}} --}}
                    <h6><i class="fas fa-clock"></i></i>60 minutes</h6>
                    {{!-- {{/if}} --}}
                </div>
            </div>
            <div class="col s12 m1">
                <i class="far fa-heart"></i>
                <p>Click to save</p>
            </div>
        </div>
        <div class="collapsible-body grey blue-grey lighten-5">
            <span>1\n\n Start the pot of water for your noodles according to the package directions.\n\n\n\n2\n\n
                Meanwhile heat the extra virgin olive oil to a large skillet over medium heat. Once heated, about a
                minute or so, add onions, garlic, basil and crushed red pepper. Saute until onions and garlic are
                slightly soft, about 3 minutes. Add the diced tomatoes and salt and pepper, reduce heat to medium-low
                and simmer while you wait for your noodles to finish.\n\n\n\n3\n\n Once your water starts boiling add a
                generous (about 1 tablespoon) amount of salt and then add the pasta. Cook until al dente, about 6-8
                minutes. Once your noodles have finished cooking, rinse with cold water to stop the cooking
                process.\n\n\n\n4\n\n After the noodles have been rinsed, add them to your tomato sauce and stir to
                combine (Note: Make sure you strain as much water as possible from the noodles before adding them to the
                sauce). Cook over medium heat until the noodles are warmed through. About 3-5 minutes.</span></div>
    </li>
    {{!-- {{/if}} --}}