<!-- Search Template -->
    <div class="container landing-page">
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <h1 class="center white-text">Your Recipe</h1>
            <div class="row center">
                <ul>
                </ul>
            </div>
          </div>
        </div> 
    </div>