.left-padding {
  padding-left: 5px !important;
}

.right-padding {
  padding-right: 5px !important;
}



body{
  background-image: url(https://images.unsplash.com/photo-1484412509196-57eda96981e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.findbtn {
  background-color: transparent;
}

.modalbtn {
  background-color: rgb(138, 138, 138);
  border-radius: 12px;
}

#query-selection {
  display: flex;
  justify-content: center;
}

#query-selection > label {
  padding-right: 5%;
}

.results {
  text-align: center;
}

.collapsible-header {
  color: #fff;
}

.food-img {
  width: 150px;
  height: auto;
}

h4 {
  font-size: 1.5rem;
}

.details {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}

.saved {
  color: pink;
}

.fa-heart {
  margin: 0 !important;
}

@media only screen and (min-width: 768px) {
  .results {
    max-width: 80%;
    margin: 25px auto;
  }
  
  .food-img {
    width: 150px;
    height: auto;
  }

  h4 {
    font-size: 2.28rem;
  }
}